<div class="row  ad_table">
	<div class="col-lg-3 col-md-4 col-md-4 adimg">
			<%= image_tag("homebg.jpg" ,:class => "adimgsize img-responsive img-rounded" )  %>
			
			<div class="row extraf">
					<span>
       					<%= image_tag("email.png" ,:size => '30x30', :class => 'extrag' )  %>
        			</span>	
					<span>
		  				<%= image_tag("share.png ",:size => '30x30', :class => 'extrag' )  %>
					</span>
					<span>
						<a data-toggle="collapse" data-parent="#accordion" href="#<%= f.id %>" id="evenmore">
		  				<%= image_tag("collapse_up.png",:size => '30x30', :class => 'extrag')  %>
		  				</a>
					</span>
			</div>
	</div>
	<div class="col-lg-9 col-md-8">
		<h3 class="adtitle"><%= f.ad_title %>	
		</h3>

		<div class="row">
			<div class="table-responsive">
						<table class="adDetails ">
							<tr>
								<td><%= f.rent_type %></td>
								<td><%= f.prise %></td>
							</tr>
							<tr>
								<td><%= f.area %></td>
								<td><%= f.owner_type %></td>
							</tr>
							<tr>
								<td><%= f.condition %></td>
								<td><%= f.extra %></td>
							</tr>
						</table>
					<div id="<%= f.id  %>" class="panel-collapse collapse in">
      					<div class="panel-body" id="mayur">
      					<table class="adDetails adDetails1 ">
							<tr>
								<td>
						 		<%= link_to("Full Ad", {:controller =>'products' ,:action => 'show' , :id => f.id }, :class => "acton show") %>
						 		</td>
						 		<td>
						 		<%= link_to("edit", {:controller =>'products' ,:action => 'edit' , :id => f.id }, :class => "acton show") %>
						 		</td>
							</tr>
							
						</table>
					</div>
				</div>
					
      					  					    
			</div>
		</div>
		
	</div>

</div>
