<header class="row header">
	<div class="col-lg-5 col-sm-5  clearfix ">
		<%= image_tag("logo1.png", :class => 'logo img-responsive') %>
	</div>

	<div class="col-lg-3 col-sm-4 search-nav-1">
		 <div class="form-control search-nav-2">
		 	
			<%= image_tag("search.png", :class => 'search-icon',:size => '20x20') %>
			

         </div>
    </div>
	<div class="col-lg-4 col-sm-3 headerdiv">
		<table summury="login" class="headertable">
			<tr>
				<td>
					<% if  user_signed_in? %>
					    Hi, <%= current_user.email %>
   						<%= link_to 'Logout' , destroy_user_session_path , :method => :delete%>
    				<% else %>
      					<%= link_to 'Login' , new_user_session_path %>
      				<% end %>
				</td>
				<td>&nbsp</td>
				<% unless  user_signed_in?  %>
						<td>
							
							<%= link_to 'Register', new_user_registration_path , class: 'register', id: 'register' %> &nbsp 
						</td>
				<% end %>
				<td >
					<span class="btn btn-warning btn-block" >
					<%= link_to("Post Ad", {:controller =>'products' ,:action => 'new'}, :class => "post") %></span>
				</td>

			</tr>
		</table>
	</div>
</header>