<%= form_for(@product,:html=>{:multipart =>false}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label(:ad_title, "Title") %>
<%= f.text_field(:ad_title) %>
<%= f.label(:image_name) %>
<%= f.file_field(:image_name) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
