<p id="notice"><%= notice %></p>

<%= @product.ad_title %> <br />

<% if @product.image_name? %>
<%= image_tag @product.image_name.url %>
Hello
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
